<h1>Happy Tweets</h1>
<h3>The Happiest Site In The World</h3>
  
  <button id="listenbutton" type="button" class="btn btn-default btn-lg">
  <span class="glyphicon glyphicon-star"></span> <span id="buttontext">Want to Hear about Happiness?</span>
  </button>
<p id="tweets"></p>  

<div id="footer">
  <div class="container"> 
  </div>
</div>

<div id="introModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">Welcome</div>  
            <div class="modal-body">
                <li class="modalText">For The Full Experience, Please Turn Turn Up Your Volume</li>
            </div>
        </div>
    </div>
</div>

