<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- <a class="navbar-brand" href="#">Brand</a> -->
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#about">About</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <!-- <li><a href="#">Username</a></li> -->
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

<div class="wide">
    <div class="col-xs-5 line"><hr></div>
    <div class="col-xs-2 logo">Streaming Happiness</div>
    <div class="col-xs-5 line"><hr></div>
</div>

<div class="container">
  <div class="text-center">
  </div>
</div><!-- /.container -->

<button id="listenbutton" type="button" class="btn btn-default btn-lg">
  <span class="glyphicon glyphicon-star"></span> <span id="buttontext">Want to Hear about Happiness?</span>
</button>
  
<p id="tweets"></p>  

<div id="introModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">Welcome</div>  
            <div class="modal-body">
                <li class="modalText">For The Full Experience, Please Turn Up Your Volume</li>
            </div>
        </div>
    </div>
</div>

