<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- <a class="navbar-brand" href="#">Brand</a> -->
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li id="aboutButton"><a href="#about">About</a></li>
      </ul>
      <div class="navbar-center navbar-brand"><span class="navbar-brand">Streaming Happiness</span></div>
    </div><!--/.nav-collapse -->
  </div>
</div>

<!-- <div class="wide">
 -->  <div id="myCarousel" class="carousel slide" data-interval="0" data-ride="carousel">
      <!-- Carousel indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>   
       <!-- Carousel items -->
        <div class="carousel-inner">
            <div id="slider1" class="active item">
                <h2 id="author1"></h2>
                <div class="carousel-caption">
                  <!-- <h3>First slide label</h3> -->
                  <p class="pictags" id="title1"></p>
                </div>
            </div>
            <div id="slider2" class="item">
                <h2 id="author2"></h2>
                <div class="carousel-caption">
                  <!-- <h3>Second slide label</h3> -->
                  <p class="pictags" id="title2"></p>
                </div>
            </div>
            <div id="slider3" class="item">
                <h2 id="author3"></h2>
                <div class="carousel-caption">
                  <!-- <h3>Third slide label</h3> -->
                  <p class="pictags" id="title3"></p>
                </div>
            </div>
        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
<!--     </div>
 -->    <!-- <div class="col-xs-5 line"><hr></div>
    <div class="col-xs-2 logo">Streaming Happiness</div>
    <div class="col-xs-5 line"><hr></div> -->
</div>

<div class="container">
  <div class="text-center">
  </div>
</div><!-- /.container -->

<button id="listenbutton" type="button" class="btn btn-default btn-lg">
  <span class="glyphicon glyphicon-star"></span> <span id="buttontext">Want to Hear about Happiness?</span>
</button>
  
<p id="tweets"></p>  

<div id="introModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">Welcome</div>  
            <div class="modal-body">
                <li class="modalText">For The Full Experience, Please Turn Up Your Volume</li>
            </div>
        </div>
    </div>
</div>

<div id="aboutModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">About<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button></div>  
            <div class="modal-body">
             <div class="row">
              <div id="aboutpic" class="col-md-5"><img src="https://media.licdn.com/mpr/mpr/shrink_200_200/p/4/005/040/20a/0d641c2.jpg"></div>
              <div class="col-md-7">
                <li class="modalText">Hi! Thanks for visiting Streaming Happiness. This project is a bit of an odd conglomeration of a few API's. The backgrounds you see at the top of the page are what Instagram users around the world have tagged as happiness; the Tweets are the same. I thought this would be a cool way to see what people post about happiness on social media. Take a few minutes and check it out; the results are interesting. </li>
              </div> 
             </div>  
            </div>
            <div class="modal-footer">
                <a target="_blank" id="github" href="http://www.github.com/ldrohan">GitHub</a>  <a target="_blank" id="personalsite" href="http://ldrohan.github.io">Personal Site</a>
            </div>
        </div>
    </div>
</div>


