// Place all the styles related to the listening controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

body {
	text-align: center;
	background-color: #6E946B;
}

h1 {
	color: #FF7D47;
}

h3 {
	color: #A5AF3F;
}

#listenbutton {
	background-color: #FBE582;
	color: #835231;
	border-radius: 0px;
	border: none;
}
p {
	margin-top: 10em;
}

#loading {
	color: #FF7D47;
}

li {
	list-style-type: none;
}

#listenbutton {
	margin-top: 7%;
}

.modal-dialog { 
   margin-top: 20%;
 }



