// Place all the styles related to the listening controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

body {
	text-align: center;
}

p {
	margin-top: 10em;
}

li {
	list-style-type: none;
}

#listenbutton {
	margin-top: 5%;
}

.modal-dialog { 
   margin-top: 20%;
}

