// Place all the styles related to the listening controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

body {
	text-align: center;
	background-color: #6E946B;
	padding-top: 50px;
}

.wide {
  width:100%;
  height:450px;
  background-image:url('http://images.viralnova.com/000/031/959/desktop-1406691557.png');
  background-size:contain;
}

.wide img {
  width:100%;
}

.logo {
  color:#fff;
  font-weight:800;
  font-size:17pt;
  padding:20px;
  text-align:center;
}

.line {
  padding-top:28px;
  white-space:no-wrap;
  overflow:hidden;
  text-align:center;
}

/*h1 {
	color: #FF7D47;
}

h3 {
	color: #A5AF3F;
}*/

/*button styling*/
#listenbutton {
	background-color: #FBE582;
	color: #835231;
	border-radius: 0px;
	border: none;
}

button:focus,
button:active,
button:hover {
    outline:0px !important;
    -webkit-appearance:none;
}

/*modal styling*/
.modal-dialog {
	margin-top: 20%;
}

#introModal {
	.modal-header {
		border-bottom: 0px;
	}
	.modal-content {
		background-color: #FBE582;
		border-radius: 0px;
		height: 10em;
	}
}

#myModal0,
#myModal2,
#myModal4,
#myModal6,
#myModal8,
#myModal10 {
	.modal-header {
		border-bottom: 0px;
	}
	.modal-content {
		background-color: #FF7D47;
		border-radius: 0px;
		height: 10em;
	}
}

#myModal1,
#myModal3,
#myModal5,
#myModal7,
#myModal9 {
	.modal-header {
		border-bottom: 0px;
	}
	.modal-content {
		background-color: #FBE582;
		border-radius: 0px;
		height: 10em;
	}
}

p {
	margin-top: 10em;
}

#loading {
	color: #FF7D47;
}

li {
	list-style-type: none;
}

#listenbutton {
	margin-top: 10%;
}

#github {
	float: left;
}

#personalsite {
	float: right;
}

/*CarouselCSS*/

.item {
    background: #333;    
    text-align: center;
    height: 450px !important;
}
.carousel {
    margin-top: 0px;
    -webkit-transform-style: preserve-3d;
}

/*.carousel-caption {
	max-height: 30%;
	background-color: black;
	opacity: .5;
}*/

a {
	-webkit-transform-style: preserve-3d;
}

#myCarousel {
	-webkit-transform-style: preserve-3d;
}

.carousel-inner {
	-webkit-transform-style: preserve-3d;
}